@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-2-lines {
  max-height: 3.6em; /* double the size of line-height */
  line-height: 1.8em;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}